body {
  margin: 0;
  background-color: lightyellow;
}
nav {
  margin-left: 500px;
}
h4 {
  display: inline-table;
  margin: 15pt;
  padding: 15py;
}
button {
  background-color: seashell;
  border: seashell;
}
li {
  list-style-type: none;
}
.class {
  width: calc(33.3% - 32px);
  height: 50px;
  border: 1px solid;
  float: left;
  margin: 15px;
  border: none;
  text-align: center;
}
.class1 {
  width: calc(50% - 102px);
  height: 30px;
  border: 1px solid;
  float: left;
  margin: 50px;
  border: none;
  text-align: center;
}
